<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Oops ! Something went wrong ...</h3>
  </div>
  <div class="panel-body">
    <%= @exception_msg %>
  </div>
</div>